html,
body {
    height: 100%;
    line-height: 1;
    font-weight: 700;
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;  
}
ul,
ol,
li {
    list-style: none;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
/* ----------------------------------------------header----------------------------------------------- */
.header {
    height: 48rem;
    width: 85.43rem;
    background: url("../img/telochka12.jpg") no-repeat;
    margin: 0 auto;
}
.img_overlay {
    height: 100%;
    width: 100%;
    background: rgba(55, 14, 14, 0.67);
}
._container {
    max-width: 69.4rem;
    margin: 0 auto;
}
.header_menu_list_item_link {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.31rem;
    color: #FFFFFF;
}
.header_menu_list_item :hover {
    color: #EF3851;
}
.header_container {
    position: relative;
    display: flex;
    height: 6.31rem;
    align-items: center;   
}
.header_menu_list {
    display: flex;
    align-items: center;
}
.header_menu {
    margin: 0 0 0 31.31rem;
} 
 .header_menu_list_item :not(last_child) {
    margin: 0 3rem 0 0;
} 
.osn {
    position: absolute;
    top: 18.25rem;
    left: 11.87rem;
}
.osn_text {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.87rem;
    color: #ffffff;   
}
.osn_text>span {
    color: #EF3851;
}
.name {
    position: absolute;
    top: 21.12rem;
    left: 17.87rem;
}
.first_name {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 5.75rem;
    color: #ffffff;
}
.first_name>span {
    color: #EF3851;
    text-transform: capitalize;
}
.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 30.875rem;
    left: 24.687rem;
    height: 3.5rem;
    width: 20.125rem;
    border-radius: 2.43rem;
    background-color: rgba(41, 41, 41, 1);
}
.button :hover {
    color: #EF3851;
}
.header_batton {
    color: #FFFFFF;
}
.button_img {
    margin-top: 0.3125rem;
}
.heder_ellips {
    display: flex;
    position: relative;
    top: 43.125rem;
    left: -39.8125rem;
    height: 0.5rem;
    width: 3.125rem;
}
.img_ellips :not(last_child) {
    margin: 0 0.5rem 0 0; 
}
/* ---------------------main------------------------------------------------------------------------------------ */
.main {
    min-height: 100%;
    overflow: hidden;
    width: 85.4375rem;
    margin: 0 auto;
    box-sizing: border-box;
}
.main_container {
    min-height: 100%;
    min-width: 100%;
}
.container_top1 {
    height: 24.8125rem;
    display: flex;
    width: 85.4375rem;
}
.top1_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    background: url(../img/image.jpg);
}
.top1_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    background: url(../img/image2.jpg);
}
.top1_left_p1 {
    height: 4.375rem;
    width: 18.75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.left_p1 {
    line-height: 1.75rem;
    font-weight: 700;
    font-size: 1.375rem;
    color: #FFFFFF;
    text-transform: uppercase;
}
.left_p2 {
    line-height: 1.2777rem;
    font-weight: 700;
    font-size: 1.125rem;
    color: #FFFFFF;
}
.top1_left_p2 {
    height: 5.625rem;
    width: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left_p3 {
    line-height: 2.0625rem;
    font-weight: 700;
    font-size: 1.75rem;
    color: #EF3A53;
}
.left_p4 {
    line-height: 2.0625rem;
    font-weight: 700;
    font-size: 1.75rem;
    color: #EF3A53;
}
.button_apply {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 3.5rem;
    border: 0.125rem solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 1.75rem;
}
.p_apply {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
}
.top1_right_p1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right_p1 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.625rem;
    color: #FFFFFF;
}
.right_p2 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.625rem;
    color: #FFFFFF;
}
.top1_right_p2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right_p3 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.125rem;
    color: #EF3851;
}
.right_p4 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.125rem;
    color: #EF3851;
}
.batton_book {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 3.5rem;
    border: 0.125rem solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 1.75rem;
}
.p_book {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
}
/* -----------block2------------------------------------------------------------------------------------- */
.container_top2 {
    height: 26.375rem;
    width: 85.4375rem;
    background: url(../img/photo1.jpg);
    filter: blur(1px);
}
.img_overlay2 {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.57);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_top2:not(.int) {
    filter: none;
}
.int {
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 2.5rem;
    color:#333333;
}
/* ----------------3-------------- */
.container_top3 {
    width: 85.4375rem;
    height: 33.3125rem;
}
.ogr_container3 {
    height: 33.3125rem;
    width: 69.375rem;
    margin: 0 auto;
}
.img_arrow {
    background: url(../img/Rectangle4.jpg) no-repeat;
    height: 0.1875rem;
    width: 100%;
    margin-top: 0.4375rem;
}
.top3_p1 {
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 2.75rem;
    color: #333333;
    padding-top: 4.375rem;
}
.top3_p2_ogr {
    height: 18.75rem;
    width: 41.4375rem;
    padding-top: 1.875rem;
    padding-left: 2.625rem;
}
.top3_p2 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #333333;
}
.top3_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8.125rem;
    height: 1.25rem;
    padding-top: 1.875rem;
}
.button_read {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8125rem;
    color: #333333;
}
.top3_img {
    position: relative;
    bottom:25.6875rem;
    left: 43.875rem;
    height: 29.375rem;
    width: 20.1875rem;
    background: url(../img/sloy3.jpg);
}
/* ----------------4----------------------- */
.container_top4 {
    background: url(../img/setka.jpg);
    width: 85.4375rem;
    height: 26.375rem;
}
.img_overlay3 {
    background: rgba(37, 37, 37, 0.57);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top4_paragraf {
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.6875rem;
    color: #ffffff;
}

/* ------------------------5------------------ */

.container_top5 {
    height: 42.5625rem;
    width: 85.4375rem;
}
.container_top5_ogr {
    width: 69.375rem;
    height: 42.5625rem;
    margin: 0 auto;
}
.top5_ogl {
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 2.75rem;
    color: #333333;
    padding-top: 4.875rem;
}
.top5_Rectangle4 {
    margin-top: 0.5625rem;
}
.top5_obertka {
    height: 25.0625rem;
    width: 64.0625rem;
    margin: 0 auto;
    display: flex;
    gap: 0 0.625rem;
    padding-top: 2.1875rem;
    padding-left: 2.125rem;
    border: 0.0625rem solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 0px 1.5625rem rgba(0, 0, 0, 0.05);
    border-radius: 0.3125rem;
}
.top5_img1 {
    background: url(../img/top5-img1.jpg) no-repeat;
    width: 9.25rem;
    height: 18.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.top5_before {
    height: 2.125rem;
    width: 4.6875rem;
    background-color: #EF3A53;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.4375rem;
    color: #ffffff;

}
.top5_img2 {
    background: url(../img/top5-img2.jpg) no-repeat;
    width: 9.25rem;
    height: 18.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.top5_after {
    height: 2.125rem;
    width: 4.6875rem;
    background-color: #EF3A53;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.4375rem;
    color: #ffffff;
}
.top5_text{
    height: 17.3125rem;
    width: 38.625rem;
    padding-left: 2.1875rem;
}
.top5_alisa {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.25rem;
    color: #333333;
}
.top5_makeup {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.4375rem;
    color: #EF3A53;
    padding-top: 0.3125rem;
}
.top5_history {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #333333;
    padding-top: 0.8125rem;
}
.top5_eclips {
    width: 3.25rem;
    height: 0.625rem;
    margin: 0 auto;
    padding-top: 1.4375rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* ---------------------6----------- */
.container_top6 {
    background: url(../img/content.jpg);
    width: 85.4375rem;
    height: 26.375rem;
    margin: 0 auto;
}
.top6_content {
    background: rgba(37, 37, 37, 0.57);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top6_p1 {
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 2.375rem;
    color: #ffffff;
    text-transform: uppercase;
}
/* --------------------------7-------- */
.container_top7 {
    width: 85.4375rem;
    height: 42.625rem;
}
.top7_ogr {
    width: 69.375rem;
    height: 42.625rem;
    margin: 0 auto;
}
.top7_ogl {
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 2.75rem;
    color:#333333;
    padding-top: 4.875rem;
}
.top7_rectangle {
    padding-top: 0.4375rem;
}
.top7_contant {
    height: 25.0625rem;
    width: 64.0675rem;
    background: url(../img/imagetop7.jpg);
    margin: 0 auto;
    margin-top: 2.25rem;
}
.top7_overlay {
    background: rgba(60, 60, 60, 0.68);
    height: 25.0625rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}.top7_eclips {
    margin: 0 auto;
    width: 3.25rem;
    height: 0.9375rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.4375rem;
}
/* --------------8----------------- */
.container_top8 {
    height: 43.75rem;
    width: 85.4375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top8_content {
    height: 33.9375rem;
    width: 85.4375rem;
    background: url(../img/jopatop8.jpg);
}
.top8_obertka {
    margin-left: 44.3125rem;
    height: 33.9375rem;
    width: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.top8_div_ogl {
    height: 2.75rem;
    width: 27.8125rem;
}
.top8_ogl {
    font-size: 2.125rem;
    font-weight: 43.75rem;
    color: #FFFFFF;
    line-height: calc(44 / 34 * 100%); 
}

.top8_total_input {
    height: 9.75rem;
    width: 17.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top8_div_input {
    height: 2.5rem;
    width: 17.4375rem;
}

.top8_input {
    height: 2.5rem;
    width: 17.4375rem;
    outline: none; 
}

.top8_div_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8125rem;
    width: 7.8125rem;
    background-color:  #EF3A53;
    border-radius: 1.4062rem;
}

.top8_button_p {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
    color: #FFFFFF;
}
/* --------------------media----------------------------------------- */
@media screen and (max-width:36.125em) {
    .header_menu_list_item_link {
        font-size: 2.25rem;
    }
    .header_menu_list {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        height: auto;
        justify-content: space-around;
    }
    .header_menu {
        margin: 0 0 0 300px;
    } 
    .header_menu_list_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
    }
        .button {
        height: 103px;
        width: 393px;
        position: absolute;
        top: 494px;
        left: 370px;
    }
    .header_batton {
        font-size: 22px;
    }
    .heder_ellips {
        position: relative;
        top: 690px;
        left: -527px;
    }
    .left_p1 {
        font-size: 32px;
    }
    .left_p2 {
        font-size: 28px;
    }
    .button_apply {
        width: 330px;
        height: 90px;
    }
    .p_apply {
        font-size: 40px;
    }
    .right_p1 {
        font-size: 32px;
    }
    .right_p2 {
        font-size: 28px;
    }
    .batton_book {
        width: 330px;
        height: 90px;
    }
    .p_book {
        font-size: 40px;
    }
    .top8_total_input {
        height: 12.8125rem;
    }
    .top8_div_button {
        height: 3.75rem;
        width: 16.875rem;
    }
    .top8_button_p {
        font-size: 3rem;
    }
    .top8_input {
        height: 4.375rem;
        width: 18.75rem;
        font-size: 2rem;
    }
    .top8_div_inpu {
        height: 4.375rem;
        width: 18.75rem; 
    }

}  