html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
    font-family: Noto Sans, sans-serif;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;  
}
ul,
ol,
li {
    list-style: none;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.header {
    height: 768px;
    width: 1367px;
    background: url("../img/telochka12.jpg") no-repeat;
    margin: 0 auto;
}
.img_overlay {
    height: 100%;
    width: 100%;
    background: rgba(55, 14, 14, 0.67);
}
._container {
    max-width: 1110px;
    margin: 0 auto;
}
.header_menu_list_item_link {
    font-size: 16px;
    font-weight: 700;
    line-height: calc(21 / 16 * 100%);
    color: #FFFFFF;
}
.header_menu_list_item :hover {
    color: yellow;
}
.header_container {
    position: relative;
    display: flex;
    height: 101px;
    align-items: center;   
}
.header_menu_list {
    display: flex;
    align-items: center;
}
.header_menu {
    margin: 0 0 0 501px;
} 
 .header_menu_list_item :not(last_child) {
    margin: 0 48px 0 0;
} 
.osn {
    position: absolute;
    top: 292px;
    left: 190px;
}
.osn_text {
    font-size: 36px;
    font-weight: 700;
    line-height: calc(46 / 36 * 100%);
    color: #ffffff;   
}
.osn_text>span {
    color: #EF3851;
}
.name {
    position: absolute;
    top: 338px;
    left: 286px;
}
.first_name {
    font-size: 72px;
    font-weight: 700;
    line-height: calc(92 / 72 * 100%);
    color: #ffffff;
}
.first_name>span {
    color: #EF3851;
    text-transform: capitalize;
}
.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 494px;
    left: 395px;
    height: 56px;
    width: 322px;
    border-radius: 39px;
    background-color: rgba(41, 41, 41, 1);
}
.button :hover {
    color: #EF3851;
}
.header_batton {
    color: #FFFFFF;
}
.button_img {
    margin-top: 5px;
}
.heder_ellips {
    display: flex;
    position: relative;
    top: 690px;
    left: -637px;
    height: 8px;
    width: 50px;
}
.img_ellips :not(last_child) {
    margin: 0 8px 0 0; 
}
/* ---------------------main-------------------- */
.main {
    min-height: 100%;
    overflow: hidden;
    width: 1367px;
    margin: 0 auto;
    box-sizing: border-box;
}
.main_container {
    min-height: 100%;
    min-width: 100%;
}
.container_top1 {
    height: 397px;
    display: flex;
    width: 1367px;
}
.top1_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    background: url(../img/image.jpg);
}
.top1_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    background: url(../img/image2.jpg);
}
.top1_left_p1 {
    height: 70px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.left_p1 {
    line-height: calc(28 / 22 * 100%);
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.left_p2 {
    line-height: calc(23 / 18 * 100%);
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}
.top1_left_p2 {
    height: 90px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left_p3 {
    line-height: calc(33 / 28 * 100%);
    font-weight: 700;
    font-size: 28px;
    color: #EF3A53;
}
.left_p4 {
    line-height: calc(33 / 28 * 100%);
    font-weight: 700;
    font-size: 28px;
    color: #EF3A53;
}
.button_apply {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 56px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 28px;
}
.p_apply {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18 / 14 * 100%);
}
.top1_right_p1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right_p1 {
    font-size: 22px;
    font-weight: 700;
    line-height: calc(26 / 22 * 100%);
    color: #FFFFFF;
}
.right_p2 {
    font-size: 22px;
    font-weight: 700;
    line-height: calc(26 / 22 * 100%);
    color: #FFFFFF;
}
.top1_right_p2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right_p3 {
    font-size: 28px;
    font-weight: 700;
    line-height: calc(34 / 28 * 100%);
    color: #EF3851;
}
.right_p4 {
    font-size: 28px;
    font-weight: 700;
    line-height: calc(34 / 28 * 100%);
    color: #EF3851;
}
.batton_book {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 56px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 28px;
}
.p_book {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18 / 14 * 100%);
}
/* -----------block2------- */
.container_top2 {
    height: 422px;
    width: 1367px;
    background: url(../img/photo1.jpg);
    filter: blur(1px);
}
.img_overlay2 {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.57);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_top2:not(.int) {
    filter: none;
}
.int {
    font-size: 34px;
    font-weight: 700;
    line-height: calc(40 / 34 * 100%);
    color:#333333;
}
/* ----------------3-------------- */
.container_top3 {
    width: 1367px;
    height: 533px;
}
.ogr_container3 {
    height: 533px;
    width: 1110px;
    margin: 0 auto;
}
.img_arrow {
    background: url(../img/Rectangle4.jpg) no-repeat;
    height: 3px;
    width: 100%;
    margin-top: 7px;
}
.top3_p1 {
    font-size: 34px;
    font-weight: 700;
    line-height: calc(44 / 34 * 100%);
    color: #333333;
    padding-top: 70px;
}
.top3_p2_ogr {
    height: 300px;
    width: 663px;
    padding-top: 30px;
    padding-left: 42px;
}
.top3_p2 {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(24 / 14 *100%);
    color: #333333;
}
.top3_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 20px;
    padding-top: 30px;
}
.button_read {
    font-size: 16px;
    font-weight: 700;
    line-height: calc(29 / 16 * 100%);
    color: #333333;
}
.top3_img {
    position: relative;
    bottom:411px;
    left: 702px;
    height: 470px;
    width: 323px;
    background: url(../img/sloy3.jpg);
}
/* ----------------4----------------------- */
.container_top4 {
    background: url(../img/setka.jpg);
    width: 1367px;
    height: 422px;
}
.img_overlay3 {
    background: rgba(37, 37, 37, 0.57);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top4_paragraf {
    font-weight: 700;
    font-size: 34px;
    line-height: calc(43 / 34 * 100%);
    color: #ffffff;
}

/* ------------------------5------------------ */

.container_top5 {
    height: 681px;
    width: 1367px;
}
.container_top5_ogr {
    width: 1110px;
    height: 681px;
    margin: 0 auto;
}
.top5_ogl {
    font-size: 34px;
    font-weight: 700;
    line-height: calc(44 / 34 * 100%);
    color: #333333;
    padding-top: 78px;;
}
.top5_Rectangle4 {
    margin-top: 9px;
}
.top5_obertka {
    height: 401px;
    width: 1025px;
    margin: 0 auto;
    display: flex;
    gap: 0 10px;
    padding-top: 35px;
    padding-left: 34px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.top5_img1 {
    background: url(../img/top5-img1.jpg) no-repeat;
    width: 148px;
    height: 301px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.top5_before {
    height: 34px;
    width: 75px;
    background-color: #EF3A53;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: calc(23 / 18 * 100%);
    color: #ffffff;

}
.top5_img2 {
    background: url(../img/top5-img2.jpg) no-repeat;
    width: 148px;
    height: 301px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.top5_after {
    height: 34px;
    width: 75px;
    background-color: #EF3A53;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: calc(23 / 18 * 100%);
    color: #ffffff;
}
.top5_text{
    height: 277px;
    width: 618px;
    padding-left: 35px;
}
.top5_alisa {
    font-size: 28px;
    font-weight: 700;
    line-height: calc(36 / 28 * 100%);
    color: #333333;
}
.top5_makeup {
    font-size: 18px;
    font-weight: 700;
    line-height: calc(23 / 18 * 100%);
    color: #EF3A53;
    padding-top: 5px;
}
.top5_history {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(24 / 14 * 100%);
    color: #333333;
    padding-top: 13px;
}
.top5_eclips {
    width: 52px;
    height: 10px;
    margin: 0 auto;
    padding-top: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* ---------------------6----------- */
.container_top6 {
    background: url(../img/content.jpg);
    width: 1367px;
    height: 422px;
    margin: 0 auto;
}
.top6_content {
    background: rgba(37, 37, 37, 0.57);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top6_p1 {
    font-size: 34px;
    font-weight: 700;
    line-height: calc(38 / 34 * 100%);
    color: #ffffff;
    text-transform: uppercase;
}
/* --------------------------7-------- */
.container_top7 {
    width: 1367px;
    height: 682px;
}
.top7_ogr {
    width: 1110px;
    height: 682px;
    margin: 0 auto;
}
.top7_ogl {
    font-size: 34px;
    font-weight: 700;
    line-height: calc(44 / 34 * 100%);
    color:#333333;
    padding-top: 78px;
}
.top7_rectangle {
    padding-top: 7px;
}
.top7_contant {
    height: 401px;
    width: 1025px;
    background: url(../img/imagetop7.jpg);
    margin: 0 auto;
    margin-top: 36px;
}
.top7_overlay {
    background: rgba(60, 60, 60, 0.68);
    height: 401px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}.top7_eclips {
    margin: 0 auto;
    width: 52px;
    height: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 23px;
}
/* --------------8----------------- */
.container_top8 {
    height: 700px;
    width: 1367px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top8_content {
    height: 543px;
    width: 1367px;
    background: url(../img/jopatop8.jpg);
}
.top8_obertka {
    margin-left: 709px;
    height: 543px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.top8_div_ogl {
    height: 44px;
    width: 445px;
}
.top8_ogl {
    font-size: 34px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: calc(44 / 34 * 100%); 
}

.top8_total_input {
    height: 156px;
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top8_div_input {
    height: 40px;
    width: 279px;
}

.top8_input {
    height: 40px;
    width: 279px;
    outline: none; 
}

.top8_div_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 125px;
    background-color:  #EF3A53;
    border-radius: 22.5px;
}

.top8_button_p {
    font-size: 14px;
    font-weight: 700;
    line-height: calc(18 / 14 * 100%);
    color: #FFFFFF;
}
/* --------------------media----------------------------------------- */
@media screen and (max-width:578px) {
    .header_menu_list_item_link {
        font-size: 36px;
    }
}
@media screen and (max-width:578px) {
    .header_menu_list {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        height: auto;
        justify-content: space-around;
    }
}
@media screen and (max-width:578px) {
    .header_menu {
        margin: 0 0 0 300px;
    } 
}
@media screen and (max-width:578px) {
    .header_menu_list_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
}
@media screen and (max-width:578px) {
    .button {
        height: 103px;
        width: 393px;
        position: absolute;
        top: 494px;
        left: 370px;
    }
}
@media screen and (max-width:578px) {
    .header_batton {
        font-size: 22px;
    }
}
@media screen and (max-width:578px) {
    .heder_ellips {
        position: relative;
        top: 690px;
        left: -527px;
    }
}
@media screen and (max-width:578px) {
    .left_p1 {
        font-size: 32px;
    }
}
@media screen and (max-width:578px) {
    .left_p2 {
        font-size: 28px;
    }
}
@media screen and (max-width:578px) {
    .button_apply {
        width: 330px;
        height: 90px;
    }
}
@media screen and (max-width:578px) {
    .p_apply {
        font-size: 40px;
    }
}
@media screen and (max-width:578px) {
    .right_p1 {
        font-size: 32px;
    }
}
@media screen and (max-width:578px) {
    .right_p2 {
        font-size: 28px;
    }
}
@media screen and (max-width:578px) {
    .batton_book {
        width: 330px;
        height: 90px;
    }
}
@media screen and (max-width:578px) {
    .p_book {
        font-size: 40px;
    }
}
@media screen and (max-width:578px) {
    .top8_total_input {
        height: 205px;
    }
}
@media screen and (max-width:578px) {
    .top8_div_button {
        height: 60px;
        width: 270px;
    }
}
@media screen and (max-width:578px) {
    .top8_button_p {
        font-size: 48px;
    }
}
@media screen and (max-width:578px) {
    .top8_input {
        height: 70px;
        width: 300px;
        font-size: 32px;
    }
}
@media screen and (max-width:578px) {
    .top8_div_inpu {
        height: 70px;
        width: 300px; 
    }
}
  